@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.All_AuthContant {
  background-image: url(../src/assets/background.jpg);
  background-position: center center;
  background-size: cover;
}

.overlay {
  background: linear-gradient(45deg, #2f8c6171, #00000067);
}

.links_Log {
  font-weight: 500;
  font-size: 16px;
}

.bnt_submit {
  border-radius: 8px;
  height: 48px;
  border: none;
  background-color: #4AA35A;
  font-size: 20px;
  color: white;
}

.title_auth h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 100%;
}

.title_auth p {
  font-weight: 400;

}

/* // */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, #000 94%, #0000) right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}

.loader::before {
  content: "Loading...";
  line-height: 1em;
  color: #00000000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #0aad0a 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left
  }
}

.fa-cart-shopping {
  font-size: 26px;
}

.fa-cc-visa {
  font-size: larger;
}

.img_slid {
  height: 70vh;
}

.bg_load {
  background-image: linear-gradient(120deg, #f3f2f2 0%, #a5fa96 100%);
  height: 100vh;
}

.bg_loadCategory {
  background-image: linear-gradient(120deg, #f3f2f2 0%, #a5fa96 100%);
  height: 100vh;
}

.alleye {
  cursor: pointer;
  z-index: 99;

}

.bord_pass {
  border-bottom-right-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
}

/* /forget/ */
.input_height {
  height: 48px;
}

.WelcomeUser {
  font-size: 32px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #DFE0E0;
}

.contantHeader {
  line-height: 24px;
  letter-spacing: 4%;
}

.sidbarContant .css-dip3t8 {
  background-color: #1F263E !important;
  border: none !important;
}

.sidbarContant .ps-menuitem-root {
  color: white !important;

}

.sidbarContant .logoSidbar a {
  padding: 0 !important;
}

.sidbarContant .ps-menu-button:hover {
  background-color: #00924D1A !important;
  border-left: solid 3px #00924e;
}

.sidbarContant .logoSidbar a:hover {
  background-color: transparent !important;
  border: none;
}

.sidbarContant .css-dip3t8 {
  height: 100vh !important;
  border-top-right-radius: 58px;

}

.img-logo-Dash {
  padding: 0 !important;
}

.img_nav {
  width: 40px;
  border: #00924e 1px solid;
}

.img_header {
  animation: floatY 1.5s ease-in-out infinite;
  width: 50%;
}

.dropdown-toggle {
  border: none;
}

.dropdown-toggle span {
  font-weight: 500;
}

.navbar {
  background-color: #F8F9FB !important;
  width: 98%;
  border-radius: 20px;
  padding: 0;
  margin-top: 15px;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 1px;

}

.dropdown {
  padding: 0 !important;
}

.all_ContantHead {
  background-image: url(../src/assets/headerBg-BgdII4Jn.png);
  background-position: center center;
  background-size: cover;
  width: 98%;
  border-radius: 20px;
  margin-top: 15px;
  color: white;
}

.contantHeader h2 {
  font-size: 40px;
  font-weight: 700;
}

.admin {
  font-size: 14px;
  font-weight: 100;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }


  100% {
    transform: translateY(0);
  }
}

.FillRecipes {
  background-color: #F0FFEF;
  width: 98%;
  border-radius: 20px;
}

.link_fillRecipes {
  background-color: #009247;
  font-weight: 700;
  color: white;
  padding: 12px 35px;
  border-radius: 8px;
  border: none;
  transition: 0.5s;
}

.link_fillRecipes:hover {
  background-color: #076535;
  color: white;
}

.inerContiantDash h3 {
  font-size: 24px;
  font-weight: 500;
}

.inerContiantDash span {
  color: #0aad0a;
}

.fa-play {
  transform: rotate(90deg);
}

.fa-play:focus {
  border: none !important;
}

/* ///categories */
.btnAdd_cate {
  background-color: #009247;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  transition: 0.5s;
  white-space: nowrap;
}

.btnAdd_cate:hover {
  background-color: #076535;
}

@media (max-width: 576px) {
  .all-btnAddRecipe {
    padding: 8px 16px;
    font-size: 14px;
    text-align: center !important;
  }
}


.Caegory_titel h3 {
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
}

.all_listCate {
  width: 98%;
}

.dropdown-toggle::after {
  content: "...";
  border-top: none !important;
  border-right: none !important;
  border-bottom: 0;
  border-left: none !important;
}

.action .dropdown-item {
  text-align: start;
  padding-left: 20px;
  padding: 0 !important;
  overflow: hidden;
}

.dropdown-menu {
  cursor: pointer;
}

.icon_delete {
  font-weight: 700;
}

.alertDelete h3 {
  font-size: 20px;
  font-weight: 700;
  color: #494949;
}

.alertDelete p {
  color: #49494999;
}

.modal-header .btn-close {
  padding: 7px;
  border: 3px #CC0000 solid;
  border-radius: 50%;
  background-color: #eab2b2 !important;
}

.icon_Add_Cate {
  padding: 7px 30px;
  font-weight: 700;
  border-radius: 8px;
  color: white;
  margin-top: 25px;
}

.title_alart_Cate {
  font-size: 25px;
  font-weight: 700;
  color: #494949;
}

.modal-header .btn-close {
  font-size: 18px;
}

.detaliesCate p {
  font-size: 20px !important;
  font-weight: 700;
  color: #1F263E;
}

.detaliesCate span {
  font-size: 18px;
  font-weight: 400;
}

/* //////// */
/* FormData_Recipes */
.all_FormData {
  background-color: #F0FFEF !important;
  width: 98%;
  border-radius: 20px;
  margin-top: 15px;
}

.contantForm_Reciepes {
  line-height: 24px;
  letter-spacing: 4%;
}

.contantForm_Reciepes h2 {

  color: #1F263E;
}

.contantForm_Reciepes span {
  color: #009247;
  font-size: 35px;
  font-weight: 500;
}

.contantForm_Reciepes p {
  font-size: 16px;
  font-weight: 400;
  color: #1F263E;
}

.input_FormRecipes {
  height: 35.9px;
  border-radius: 8px;
  border: 1px solid #009247;
  background-color: #F7F7F7;
}

.input_FormRecipes:focus {
  box-shadow: none;
  border: 1px solid #009247;
}

.upload-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.upload-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px dashed #8dd18d;
  background-color: #f3fff3;
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.upload-label:hover {
  background-color: #e9ffe9;
}

.upload-icon {
  font-size: 24px;
  margin-bottom: 0.5rem;
  color: #4caf50;
}

.highlight {
  color: #1b8a1b;
  font-weight: bold;
  cursor: pointer;
}

.RecipeHeader h3 {
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
}

.RecipeHeader p {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}

.img-productRecipe {
  height: 56px;
  width: 56px;
  border-radius: 8px;
}

/* ////detaliesRecipce */
.all_detaliesRecipce img {
  width: 45%;
  border-radius: 20px;
}

.title_detaliesRecipce span,
.title_detaliesRecipce h4 {
  font-weight: 700;
  font-size: 20px;
}

.subtitle_detalies {

  font-weight: 700;
  font-size: 18px
}

.recipe_Resutel {
  font-size: 16px;
}
/* ///notFoundPage */
.notFoundPage{
  background-image: url(../src/assets/Vector.png);
  height: 100vh;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
.notFoundContant{
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
}
.notFoundContant h4{
  font-size: 32px;
  font-weight: 400;
}
.notFoundContant h2{
  font-size: 40px;
  font-weight: 700;
}
.btn_notFound{
  border: none ;
  border-radius: 8px;
 font-weight: 700;  
 margin-top: 20px;
}
.itemNotFound{
  display: flex;
  align-items: start !important;
  justify-self: auto;
}
.pagination button{
  border: none ;
  border-radius: 8px;
  font-weight: 500;
  background-color:  #009247 ;
  color: white ;
  padding: 8px 20px !important;
}
.pagination span{

 font-size: larger;
  color:  #009247 !important;
}
.fa-eye{
  cursor: pointer;
  color: rgb(154, 154, 244);
}
.fa-trash{
  cursor: pointer;
  color: rgb(182, 53, 53);
}
.fa-pen-to-square{
  cursor: pointer;
  color: rgb(43, 195, 119);
}
.pagination a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #009247 !important;
}
.pagination a:hover{
  background-color: #aaa5a5!important;
  color: white !important;
}
.pagination :focus{
  background-color: #009247 !important;
  color: white !important;
  
}
.page-link{
  color: #009247 !important;
height: 40px;

} 
.page-item.active .page-link{
  background-color: #009247 !important;
  color: white !important;
}
 .page-item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  cursor: pointer;
}